<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="index.css"/>
</head>
<body>
    <div class="header">
        <ul id="main-menu">
            <li>Countries</li>
            <li>Continents</li>
            <li>Cities</li>
        </ul>
    </div>
    <div class="content">
        <ul>
            <li>Information</li>
            <li>Cities</li>
            <li>Languages</li>
        </ul>
    </div>
    <div class="footer">

    </div>
</body>
</html>